import(streamR)
import(ROAuth)
import(Rfacebook)
import(devtools)
import(XML)
import(rvest)
import(stringi)
import(dplyr)
import(RSQLite)
import(xts)
import(shiny)
import(dygraphs)

export(wybory_pobierz_fb_likes)
export(wybory_pobierz_fb_posty)
export(wybory_pobierz_GoogleNews)
export(wybory_pobierz_Interia)
export(wybory_pobierz_Onet)
export(wybory_pobierz_tw)
export(wybory_pobierz_WP)
export(wybory_stworz_baze)
export(wybory_wskazniki_do_bazy)
export(wybory_wsk_artykuly)
export(wybory_wsk_fb_liczba_komentarz_post)
export(wybory_wsk_fb_liczba_like_post)
export(wybory_wsk_fb_liczba_postow)
export(wybory_wsk_fb_liczba_udostepnienie_post)
export(wybory_wsk_fb_likes)
export(wybory_wsk_fb_wzrost_likes)
export(wybory_wsk_GoogleNews)
export(wybory_wsk_tw_analiza_wydzwieku)
export(wybory_wsk_tw_liczba_wystapien)
export(wybory_wsk_tytuly)
export(wybory_wstaw_do_bazy)